.row
  .col-sm-12.p-a-3
    = form_for @user do |f|
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, 'Re-Type Password'
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = f.submit 'Sign up!', class: 'btn btn-success form-control m-t-2'
