!!!
%html
  %head
    %title Journal
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container
      - if current_user
        .nav.navbar.navbar-light.bg-faded.m-b-1
          = link_to :root, class: 'navbar-brand' do
            Journal
          %ul.nav.navbar-nav
            = nav_li :categories do
              = link_to Category.model_name.human.pluralize, :categories, class: 'nav-link'
            = nav_li :questions do
              = link_to Question.model_name.human.pluralize, :questions, class: 'nav-link'
            = nav_li nil, class: 'pull-xs-right' do
              = link_to 'Log Out', logout_path, method: :delete, class: 'nav-item nav-link'

      .row
        .col-sm-12
          = yield
